* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
============= VARIÁVEIS LOCAIS ===============
*/

:root {
    --body-color: #f5f4f6;
    --list-bg-color: #fffdff;
    --main-text-color: #0c0a0c;
    --secondary-text-color: #8a898b;
}

/*
=============== IMPORTAÇÃO DE FONTS ==============
*/

@font-face {
    font-family: "Poppins";
    src: url("../public/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../public/Poppins/Poppins-Medium.ttf") format("truetype");
}

body {
    background-color: var( --body-color );
    font-family: "Poppins";
}

/*
============ CONTAINER =================
*/

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/*
============== HEADER =============
*/

.header h1 {
    color: var(--main-text-color);
}

.header h2 {
    color: var(--secondary-text-color);
    font-weight: 200;
}

/* =============== TASK LIST ================= */

.main {
    padding-top: 2rem;
}

.task-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.task-list li {
    background-color: var(--list-bg-color);
    padding: .8rem .5rem .8rem 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 5px  rgba(224, 218, 218, .6);
    position: relative;
}

.task-list input[type="checkbox"] {
    display: none;
}

.task-list label {
    cursor: pointer;
}



.task-list label::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    height: 25px;
    width: 25px;
    border: solid 1px #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.task-list label.is-done::before  {
    background-color: #0c0a0c!important;
}

.task-list label.is-done {
    text-decoration: line-through;
}

/*================= ADD NEW TASK ==================*/

.add-new-task-button {
    background-image: url("../public/img/add.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    height: 50px;
    width: 100%;
    border: none;
    padding: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: transparent;
    transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
    border-radius: 10px;
}

.add-new-task-button.submit {
    background-image: url("../public/img/submit.png");
}

.add-new-task-button:hover {
    background-color: rgba(187, 186, 188, .2);
    background-size: 35px;
}

.cancel-task {
    position: absolute;
    height: 30px;
    left: 98%;
    width: 30px;
    background-image: url("../public/img/cancel.png");
    background-repeat: no-repeat;
    background-size: 25px;
    border: none;
    background-color: transparent;
    padding: .2rem;
    cursor: pointer;
}

.form-task {
    margin-top: .5rem;    
    width: 100%;
}

.form-task input {
    padding: .8rem .5rem .8rem 3rem;
    outline: none;
    background-image: url("../public/img/task.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px 50%;
    width: 100%;
    font-size: 1rem;
    border: none;
    font-family: "Poppins";
    box-shadow: 2px 5px 5px  rgba(224, 218, 218, .6);
    border-radius: 10px;
}

.input-container {
    position: relative;
}
